@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
}

.webgl {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

nav {
	color: white;
	z-index: 2;
	position: relative;
	padding: 4rem 8rem;
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 4rem;
}

.title {
	color: white;
	z-index: 2;
	position: absolute;
	font-size: 3rem;
	font-weight: bold;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -75%);
}

@media (max-width: 420px) {
	.title {
		font-size: 2em;
  }

	nav {
		padding-left: 10%;
    padding-top: 10%;
    font-size: 0.8em;
	}

  nav ul {
    gap: 1em;
    padding-left: 69%;
    padding-top: 2%;
    opacity: 0.7;
  }
}
